@charset 'UTF-8';

*{
    font-family:  Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #BD028B, #5D02BD)
}
main{
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(92, 92, 92, 0.623);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#BD028B;
    text-align:center;
    text-shadow: 1px 1px 2px #41023098;
}
h2{
    color:#5D02BD;
}
p{
    text-align: justify;
}